
html, body {
    height: 100%;
    margin: 0;
  }
  
  :root, app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    /* toda a altura da tela */
  }

  main {
    flex: 1;              /* expande pra preencher o espaço entre header e footer */
  }